html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	color: #fff;
	font-size: 13pt;
	line-height: 150%;
}
a:focus { outline: none; }
.hidden-xsm { display: none; }
#logo { padding: 10px 0; }
.title_box { padding: 0; }
.title_box-bkgrnd {height: 40px; }
#report_title {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
}
.bkgrnd_title {
	position: absolute;
	left:0;
	width:100%;
	height:50%;
}
.title_top {
	background-color: #5b6770;
	top:0;
}
.title_bottom {
	top:50%;
	background-color: #3e4c50;
}
.side_title {
	opacity:.7;
	height: 64px;
	background: #3f4c51;
}
.title_year {
	font-family: 'EB Garamond', serif;
	font-size: 1.75em;
}
.title_pipe {
	position: relative;
	font-size: .75em;
	bottom: 2px;
}
h1 {
	font-size: 13px;
	margin: 0;
	padding-top:25px;
}
h4 { font-size: 16px; }
.xsm { display: none; }
.pipe { padding-top: 20px; }
.carousel-cntrl {
	color: #fff;
	background-color: #DDE5E7;
	width: 46px;
	height: 52px;
}
.carousel-cntrl .glyphicon-chevron-right {
	padding: 25px;
}
.carousel-cntrl .glyphicon-chevron-left {
	padding: 25px;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	position: relative;
}
.carousel-indicators li {
	width: 7px;
	height: 7px;
	background-color: #3e4b51;
	margin: 0 5%;
}
.carousel-indicators .active {
	width: 7px;
	height: 7px;
	background-color: rgba(0,0,0,0);
	margin: 0 5%;
}
.carousel-indicators li:first-child { margin-left: 0px; }
.carousel-indicators li:last-child { margin-right: 0px; }
.carousel-indicators {
	position: relative;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
}
.crsl_nav-inner {
	position: relative;
	width:100%;
	height: 100%;
	z-index: 2;
}
.crsl_nav-top {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
	background-color: #f2f2f2;
}
.crsl_nav-bottom {
	position: absolute;
	top:50%;
	left:0;
	width:100%;
	height:50%;
	background-color: #dde5e8;
}
ol { padding: 2px; }
.carousel-cntrl img {
	margin-left: 19px;
	margin-top: 18px;
}
.carousel-inner>.item { padding-top: 20px; }
.img1, .img2 { display: none; }
sup { font-size: 55%; }
#program .carousel-cntrl-box { padding: 0; }
#program {background: #fff;}
.item {
	padding: 0px 15px;
	color: black;
}
#program .item h2 {
	font-family: 'EB Garamond', serif;
	font-size: 21pt;
}
#program .item h3 {
	margin-top:0px;
	font-size: 16pt;
	letter-spacing: 2px;
  text-transform: uppercase;
}
#program .item .glyphicon-plus {
	margin-top: 20px;
	padding:12px 12px 12px 14px;
	background-color: #a2392a;
	border-radius: 50%;
	font-size: 1.5em;
	font-weight: bold;
}
#program .plus-a { margin-left: 0; }
#program .plus-b { display: none; }
#program .carousel-caption {
	position: static;
}
#program .main_img img {
	margin-top: 20px;
	z-index: 20;
}
#program .photo-credit {
	position: relative;
	display: block;
}
#program em {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	line-height: 1;
	background-color: rgba(0,0,0, 0.5);
	color: #FFFFFF;
	padding: 0.5em 1em;
	font-size: 11px;
	z-index: 20;
	padding-left: 30px;
	text-align: left;
}
#program .program_info {
	margin-top:16px;
	padding:16px;
}
#program .program_info .lead { margin-bottom: 10px; }
#program .program_info p {
	text-shadow: none;
	color: black;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 12pt;
	line-height: 17pt;
}
#program .program_info p.lead { color: #fff; }
#program .program_info p a {color: black;}
#program .impact, #program .see_more:nth-child(1){
	background-color: #DDE5E7;
}
#program .impact, #program .see_more:nth-child(2){
	background-color: #DDE5E7;
}
#program .grantees {background-color: #DDE5E7;}
#program .see_more {
	margin-bottom: 32px;
	padding: 5px;
}
#program .see_more p {
	margin: 0;
	font-size: 13px;
	font-family: georgia;
	color: #DDE5E7!important;
	text-align: center;
}
#program hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #fff;
	margin: 10px 0;
	padding: 0;
}
#who_we_are { background: #61AFAD; }
#who_we_are .our_team {
	background: #60A7B1;
}
#who_we_are .our_team header{
	background: #60a7b1;
}
#who_we_are .our_team header h2 {
	font-family: 'EB Garamond', serif;
	font-size: 21pt;
	margin: 0;
	padding: 15px 0px 15px 80.828px;
}
#who_we_are .each_year {
}
#who_we_are .title, #board_trustees .title { background-color: #007b79; }
#who_we_are h2, #board_trustees h2 {
	font-family: 'EB Garamond', serif;
	margin:0;
	padding: 20px 0;
	font-size: 21pt;
}
#who_we_are .our_team-bkgrnd img { width: 100%; }
#who_we_are .our_team-bkgrnd {
	padding: 0;
	background: #61AFAD;
}
#who_we_are .our_team-text { background: #61AFAD; }
#who_we_are .our_team-text p,
#who_we_are .each_year-text p { margin: 10px 0 10px; }
#who_we_are .our_team-mid {
	width: 100%;
	padding: 0;
}
#who_we_are .our_team-img { border-left: 15px solid #61AFAD; }
#who_we_are .each_year-bkgrnd img {  width: 100%; }
#who_we_are .each_year-text > img.visible-xsm-block { display: none; }
#who_we_are .each_year-bkgrnd { background: #61AFAD; }
#who_we_are .each_year-text {
	background: #61AFAD;
	width: 100%;
	margin-left: 0;
	padding: 0;
}
#who_we_are .each_year-mid {
	width: 100%;
	padding: 0;
}
#who_we_are .each_year {background-color: #8fcbd3;}
#board_trustees .board_trustees {
	background-color: #4694A6;
	font-size: 12pt;
}
#board_trustees .board_trustee {
	height: 86px;
	padding: 30px 15px;
}
#board_trustees .board_trustees-title { padding:0px; }
#board_trustees .board_trustee p { margin: 0px; }
#board_trustees .chair { padding: 13px 15px;}
#board_trustees .board_trustee a { color: #fff; }
#board_trustees .chair p{ margin: 1px 0 0 0; }
#board_trustees div .board_trustee:nth-child(odd) {
	background-color: #60a7b1;
}
#board_trustees div .board_trustee:nth-child(even) {
	background-color: #60a7b1;
}
#board_trustees div .board_trustee:last-child { margin-bottom:20px; }
#board_trustees hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #60A7B1;
	margin: 1px 85px 1px 85px;
	padding: 0;
	opacity:.5;
}
#board_trustees em {
	font-family: 'EB Garamond', serif;
	font-size: .8em;
	padding-top: 4px;
	border-top: 1px solid black;
}
#financials {
	font-family: 'EB Garamond', serif;
	color: #333;
	margin-bottom: 40px;
}
#financials header > div { padding: 0; }
#financials h2 {
	font-size: 28px;
	padding: 30px 0px 10px 0px;
	margin: 0;
}
#financials .title h3 {
	margin: 0;
	padding: 10px 0;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-weight: bold;
	font-size: 18px;
}
#financials .grant_year { font-size: 33px; }
#financials .cost { padding: 0; }
#financials .value {
	font-size: 3em;
	padding: 25px 0;
}
#financials .title.one {background: #f29679; color: white;}
#financials .title.two {background: #df6f4c; color: white;}
#financials .value.one {background: #df6f4c;}
#financials .value.two {background: #f29679;}
#financials .years { font-size: 25pt; }
#financials .tp_br { display: none; };
#financials .cumulative {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 14pt;
	font-weight: bold;
	letter-spacing: 2px;
}
#financials .chart_key-box-1 { padding-top: 15px; }
#financials .chart-1a > img { display: none; }
#financials .chart-1b > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
//#financials .chart-1a { padding-top: 20px; }
#financials .chart_key-box-2 { display: none; }
#financials .chart_key {
	display:inline-block;
	margin-left:48px;
	height:15px;
	width:15px;
	border-radius:50%;
}
#financials .chart_key-box-1 .chart_key {
	position: absolute;
	top: 5px;
}
#financials .chart_key-box-2 .chart_key { position: absolute; }
//#financials .charts { padding-bottom: 20px; }
#financials .administrative { background:#36898B; }
#financials .bay { background:#006162; }
#financials .environment { background:#E3CF81; }
#financials .patient { background:#95291E; }
#financials .science { background:#D04C37; }
#financials .special { background:#3E4C50; }
#financials .chart_text {
	position: relative;
	bottom: 3px;
}
#financials .chart_key-box-1 .chart_text { left: 70px; }
#financials .chart_key-box-2 .chart_text { left: 20px; }
#financials .chart-1 { margin-top: 20px; }
#inspiration {
	padding: 20px 0;
	background: white;
}
.quote_box {
	position: relative;
	background: transparent;
	z-index: 2;
}
.quote-top {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
	background-color: #dde5e8;
}
.quote-bottom {
	position: absolute;
	top:50%;
	left:0;
	width:100%;
	height:50%;
	background-color: #dde5e8;
}
#inspiration .quote_box {
	padding: 40px 20px;
	font-family: 'EB Garamond', serif;
}
@media(min-width: 992px) {
	#inspiration .quote_box p {
		height: 117px;
	}
}
@media(min-width: 1200px) {
	#inspiration .quote_box p {
		height: auto;
	}
}
#inspiration .lead {
	position: relative;
	font-size: 21pt;
	margin-bottom: 0;
}
#inspiration .carousel-cntrl { margin: 20px 0px; }
#inspiration .carousel-indicators li { margin: 0 8%; }
#inspiration .carousel-indicators li:first-child { margin-left: 0px; }
#inspiration .carousel-indicators li:last-child { margin-right: 0px; }
#inspiration .quote-xsm-chevrons { display: none; }
#inspiration .nav-bottom { display: none; }
@media only screen and (max-width:480px) {
	.img1 { display: inline-block!important; }
	#financials .tp_br { display: initial; };
}
@media only screen and (min-width:480px) {
	h1 {
		padding-top: 20px;
		font-size: 16px;
	}
	.side_title { height: 70px; }
	#program .item_title_box { margin-left: 8.33333333%; }
	#program .plus-a {
		display: block;
		margin-left: 8.33333333%;
	}
	#program .plus-b { display: none; }
	#program .carousel_nav { margin-top: 20px; }
	#program ol { display: block!important; }
	.li { display: inline-block; }
	#who_we_are .our_team-bkgrnd img { margin-bottom: 0; }
	#who_we_are .our_team-bkgrnd { background: #46949f; }
	#who_we_are .our_team-mid {
		background: #5b9b9e;
		padding: 0;
	}
	#who_we_are .our_team-text p {
		padding:15px;
	}
	#who_we_are .each_year-mid {
		background: #46949f;
		padding: 0;
	}
	#who_we_are .each_year-text p {
		padding: 15px;
	}
	#board_trustees .board_trustees-title  h2 {
		padding-top: 28px;
		text-align: center;
		/* border-right: 3px solid white; */
		/* border-bottom-left-radius: inherit; */
	}
	#board_trustees .board_trustee p { border-left: 2px solid #ddd; }
	#board_trustees .chair p { border-left: none; }
	#financials header { background: white; }
	#financials header > div {
		background: #fff;
		margin-left: -15px;
	}
	#financials .title-grant { padding-left: 0; }
	#financials .title-grant h2 {
		padding-left: 15px;
		border-left: 48px solid white; 
	}
	#financials .title h3 { font-size: .8em; }
	#financials .cost {
		margin:0;
		border-bottom: 10px solid #f3eedb;
	}
	#financials .chart_key-box-1 { display: none; }
	#financials .chart_key-box-1 .chart_text { left: 20px; }
	#financials .chart-1b > img { display: none; }
	#financials .chart-1a > img {
		display: block;
		margin: 20px auto 0 auto;
		max-width: 100%;
	}
	#financials .chart-1c > img {
		// display: block;
		// margin: 20px auto 0 auto;
		max-width: 100%;
	}
	#financials .chart-1 { margin-top: 0px; }
	#inspiration ol { display: block !important }
	#inspiration .carousel_nav { margin-top: 30px; }
	#inspiration .rt { right:0; }
	//#inspiration .carousel-inner { margin-bottom: 70px; }
	#inspiration .quote-xs-chevrons { display: none!important; }
	#inspiration .quote-xsm-chevrons {
		display: block;
		width: 8.33333333%;
		padding: 0;
	}
}
@media(min-width: 768px) {
	#financials .chart-1a > img {
		margin: 0px auto 0 auto;
	}
}

@media only screen and (min-width:480px) and (max-width: 767px) {
	.img2 { display: inline-block!important; }
	.visible-xsm-block { display: block!important; }
	.hidden-xsm { display: none!important; }
	.xsm { display: block; }
	.main_img { width: 83.33333333%; }
	#program .carousel-cntrl { margin-top: 30px; }
	#program .cntrl-sm-l {
		position: absolute;
		top: 250px;
		left: 0;
		z-index: 20;
	}
	#program .cntrl-sm-r {
		position: absolute;
		top: 250px;
		right: 0;
	}
	#program .main_images {
		padding-left: 15px;
		margin-left: 8.33333333%;
		width: 100%;
	}
	#who_we_are .title, #board_trustees .title { padding-left: 8.33333333%; }
	#who_we_are .our_team-mid {
		width: 91.66666667%;
		margin-left: 8.33333333%;
	}
	#who_we_are .our_team-text {
		width: 83.33333333%;
		padding: 0;
	}

	#who_we_are .each_year-bkgrnd img {
		margin-bottom: 0;
		width: 96%;
	}
	#who_we_are .each_year-bkgrnd {
		background: #5b9b9e;
		padding: 0;
	}
	#who_we_are .each_year-mid {
		width: 91.66666667%;
		margin-left: 8.33333333%;
	}
	#who_we_are .each_year-text {
		width: 100%;
		padding: 0;
	}
	#board_trustees div .board_trustee, .board_trustees-title  { width:50%; }
	#financials .cost { width: 33.33333333%; }
	#financials header { padding: 0px; }
	#financials header > div {
		padding-left: 0px;
		margin-left: 0px;
		width: 50%;
	}
	#financials h2 { padding-left: 48px; }
	#financials .h-fin { padding-left: 63px; }
	#financials .chart-1 { width: 50%; }
	#financials .chart_key-box-2 {
		display: block;
		padding-top: 25px;
	}
	#financials .chart_key { margin: 0px; }
	#inspiration .quote_box-xsm { width: 83.33333333%; }
}
@media only screen and (min-width:550px) {
	#board_trustees .board_trustee p { border-left: none;/* border-bottom: 1px solid white; */}
	#board_trustees .trust_pipe {
		border-left: 2px solid #ddd;
		width: 85%;
		margin: 0 auto;
		text-align: left
    padding-left: 10px;
	}
}
@media (min-width: 480px) {
  #board_trustees .trust_pipe p {
    text-align: left;
    padding-left: 10px;
  }
}
#board_trustees .hidden-xs-sm {
	display: none;
}
@media (min-width: 480px) {
	#board_trustees .hidden-xs-sm {
		display: block;
	}
}

@media (min-width: 400px) {
  #board_trustees .trust_pipe {
    text-align: center;
  }
}
@media only screen and (min-width:600px) {
	#program .plus-a { display: none; }
	#program .plus-b {
		width: 8.33333333%;
		display: block;
	}
	#program .program_icon { margin-top: 20px; }
	#program .item_title_box { margin-left: 0; }
}
@media only screen and (min-width:768px) {
	.xsm { display: none; }
	#program .carousel-cntrl { margin-top: 102px; }
	#program .cntrlx { margin-top: 23px; }
	#program .carousel_nav {
		position: relative;
		margin-top: 20px;
	}
	#program .item h3 {
		height: 46px;
		margin-bottom: 20px;
    text-transform: uppercase;
	}
	.li { display: inline-block; }
	#program em {
		margin-left: 15px;
		margin-right: 15px;
	}
	#program .impact { margin-top: 20px; }
	//#program .grantees {
		margin-top: 80px;
		margin-bottom: 20px;
	}
	#who_we_are .our_team header h2 { padding-left: 48.5px; }
	#who_we_are .our_team .otp {
		background: #46949f;
		padding-right: 0px;
	}
	#who_we_are .our_team .otp p {
		margin: 0px 0px 0px 48.5px;
		background: #60A7B1;
		padding: 15px;
	}
	#who_we_are .our_team .oti { padding-right: 0; }
	/*#who_we_are .our_team img { height: 215px; }*/
	#who_we_are .each_year .eyp {
		background: #46949f;
		width: 422.5px;
	}
	#who_we_are .each_year .eyp p {
		background: #8fcbd3;
		margin: 0px 65.828px 0px 0px;
		padding: 15px 15px 15px 30px;
		height: 169px;
	}
	#board_trustees .title { padding-left: 77.5px; }
	#board_trustees .our_team-mid {
		width: 75%;
		margin-left: 25%;
	}
	#board_trustees .our_team-text { width: 100%; }
	#board_trustees .each_year-bkgrnd { padding-left: 0; }
	#board_trustees .each_year-mid { margin-left: 0; }
	#board_trustees .each_year-text { width: 91.66666667%; }
	#board_trustees .trust_pipe { width: 75%; }
	#board_trustees .each_year-text p { padding: 17.5px 10px; }
	#financials header > div {
		width: 250px;
		padding-left: 77.5px;
	}
	#financials .years { padding-left: 62.5px; }
	#financials .title-grant h2 { padding-left: 29.5px; }
	#financials .chart_key-box-1 { display: block; }
	#financials .chart_key { margin-left: 0; }
	#inspiration .carousel_nav {
		position: relative;
		margin-bottom: 20px;
	}
	#inspiration .carousel-cntrl { top: 100px; }
	#inspiration .carousel-inner { margin-bottom: 40px; }
	#inspiration .nav-bottom { display: none; }
	#inspiration .carousel_nav { margin-top: 0px; }
}
@media only screen and (min-width:767px) and (max-width: 992px) {
	#who_we_are .our_team .oti { width: 340px; }
	#who_we_are .each_year { height: 450px; }
	#who_we_are .each_year .eyp { height: 220px; }
	#who_we_are .each_year .eyp p { height: 220px; }

}
@media only screen and (min-width:480px) and (max-width: 992px) {
	#board_trustees div .board_trustee:nth-child(n+1)  { background-color: #60A7B1; }
	#board_trustees div .board_trustee:nth-child(4n+0) { background-color: #60A7B1; }
	#board_trustees div .board_trustee:nth-child(4n+1) { background-color: #60A7B1; }
}
@media only screen and (min-width:992px) {
	.side_title { height: 82px; }
	.title_pipe { font-size: .75em; }
	h1 {
		padding-top: 15px;
		font-size: 1.3em;
	}
	.main_img { padding-right:8px; }
	#program .program_info-box {
		padding-left:8px;
		margin-bottom: 32px;
	}
	#program em {
		margin-left: 15px;
		margin-right: 8px;
		bottom: 84px;
	}
	#who_we_are .our_team header h2 { padding-left: 65.828px; }
	#grantee-0 { height: 191px; }
	#grantee-1 { height: 213px; }
	#grantee-2 { height: 210px; }
	#grantee-3 { height: 169px; }
	#grantee-4 { height: 300px; }
	#grantee-5 { height: 147px; }
	#grantee-6 { height: 169px; }
	#grantee-7 { height: 257px; }
	#pInfo-0 { height: 365px; }
	#pInfo-1 { height: 343px; }
	#pInfo-2 { height: 394px; }
	#pInfo-3 { height: 387px; }
	#pInfo-4 { height: 255px; }
	#pInfo-5 { height: 409px; }
	#pInfo-6 { height: 387px; }
	#pInfo-7 { height: 299px; }
	#who_we_are .our_team {
		height: 435px;
		background: #60a7b1;
	}
	#who_we_are .our_team .otp {
		background: #46949f;
		padding-right:0px;
	}
	#who_we_are .our_team .otp p {
		margin: 0px 0px 0px 65.828px;
		background: #8fcbd3;
		padding: 16px 19px;
	}
	#who_we_are .our_team .oti {
		padding-right: 0;
		padding-left: 80px;
	}
	/*#who_we_are .our_team img {
		width: initial;
		height: 215px;
	}*/
	#who_we_are .each_year {
		height: 435px;
	}
	#who_we_are .each_year .eyp {
		/*background: #60a7b1;*/
		width: 550.828px;
	}
	#who_we_are .each_year .eyp p { height: 181px; }
	#board_trustees .title { padding-left: 95.828px; }
	#board_trustees .each_year-text p { padding: 19px 10px; }
	#financials header > div {
		padding-left: 95.828px;
		width: 323.328px;
	}
	#financials .title-grant h2 { padding-left: 47.828px; }
	#financials .years { padding-left: 80.828px; }
}
@media only screen and (min-width:1200px) {
	#grantee-0 { height: 157px; }
	#grantee-1 { height: 179px; }
	#grantee-2 { height: 197px; }
	#grantee-3 { height: 135px; }
	#grantee-4 { height: 245px; }
	#grantee-5 { height: 135px; }
	#grantee-6 { height: 135px; }
	#grantee-7 { height: 202px; }
	#pInfo-0 { height: 321px; }
	#pInfo-1 { height: 299px; }
	#pInfo-2 { height: 329px; }
	#pInfo-3 { height: 343px; }
	#pInfo-4 { height: 233px; }
	#pInfo-5 { height: 343px; }
	#pInfo-6 { height: 343px; }
	#pInfo-7 { height: 277px; }
	#who_we_are .each_year .eyp { width: 667.5px; }
	#who_we_are .our_team img {
		width: 100%;
	}
	#board_trustees .title { padding-left: 112.5px; }
	#board_trustees .our_team-bkgrnd img { border-left: 121px solid #61afad; }
	#board_trustees .our_team-text p { padding: 10px 10px 19px 10px; }
	#board_trustees .each_year-text p { padding: 13px; }
	#board_trustees .each_year-bkgrnd { padding-right: 50px; }
	#financials header > div { width: 390px; }
	#financials header > div { padding-left: 112.5px; }
	#financials .title-grant h2 { padding-left: 64.5px; }
	#financials .years { padding-left: 97.5px; }
}
